mixin inputHorizontal(name ="", type ="text", placeholder="", value="", disabled = false, require = false)
  .form-group.row
    label.col-sm-2.col-form-label(for=`${name}`) 
      span #{ placeholder }
      if require
        span.require *
    .col-sm-10
      input.form-control(
        disabled=disabled,
        id=`${name}`,
        type=`${type}`,
        placeholder=`${placeholder}`,
        value=`${value}`
      )

mixin checkboxHorizontal(name ="", type ="checkbox", placeholder="", value="")
  .form-group.row
    .col-sm-2
    .col-sm-10
      .form-check
        input.form-check-input(id=`${name}`, type=`${type}`, checked)
        label.form-check-label(for=`${name}`)
          | #{ placeholder }

mixin selectHorizontal(name ="", placeholder="", value="")
  .form-group.row
    label.col-sm-2.col-form-label(for=`${name}`) #{ placeholder }
    .col-sm-10
      select.custom-select(id=`${name}`)
        each val in value
          option(value=`${val.value}`) #{ val.title }

mixin textareaHorizontal(name="", placeholder="", value="", rows="3", cols="10", require = false)
  .form-group.row
    label.col-sm-2.col-form-label(for=`${name}`)
      span #{ placeholder }
      if require
        span.require *
    .col-sm-10
      textarea.form-control(
        id=`${name}`,
        placeholder=`${placeholder}`,
        value=`${value}`,
        rows=`${rows}`,
        cols=`${cols}`
      )

mixin buttonHorizontalForm(textOne="Chỉnh sửa địa chỉ", textTwo="Xóa")
  .form-group.row
    .col-sm-2
    .col-sm-10
      button.btn.btn-secondary(type="submit") #{ textOne }
      button.btn.btn-primary(type="submit") #{ textTwo }

mixin buttonLinkForm(content="Chỉnh sửa địa chỉ", float="float-right")
  .form-group.row
    .col-sm-2
    .col-sm-10
      button.btn.btn-link(class=`${float}`, type="submit") #{ content }

mixin buttonItemForm(content="Gửi ý kiến")
  .form-group.row
    .col-sm-2
    .col-sm-10
      button.btn.btn-primary(type="submit") #{ content }